html {
  font-family: 'Open Sans';
  text-transform: uppercase;
  scroll-behavior: smooth;
}




.Container {
  position: relative;
  width: 55vw;
  min-height: 100vh;
  margin: auto;
  border: 20px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.background_logo {
  opacity: 0.07;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}



/* Header */
.header {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_text {
  font-size: 60px;
  margin: 0;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.header_menu {
  text-align: center;
  border-bottom: 5px solid #efefef;
  border-radius: 3px;
} 



/* Body */
.body {
  margin: 100px 50px 50px 50px;  
  position: relative;
}



/* ArticlesList */

.category {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.category_name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.category_articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  min-width: 50%;
}

.article_container {
  display: flex;
  flex-direction: column;
}

.article_name, .article_price {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
.article_description {
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.article_price {
  margin-left: 10px;
}





/* CategoriesList */
.MDBCard-Home {
  width: 8rem;
}
.MDBCardImage-Home {
  width : 8rem;
  height: 8rem;
}




/* Footer */
.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: normal;
  z-index: 0;
}


/* loader */


@keyframes loaderAnimation {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#loader {
  position: absolute; 
  left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  animation: loaderAnimation 2s ease-in infinite both;
}



@media (max-width: 500px) {
  .MDBCard-Home {
    width: 6rem;
  }
  .MDBCardImage-Home {
    width : 6rem;
    height: 6rem;
  }
}

@media (max-width: 900px) {
  .Container {
    width: 100%;
  }
  .body {
    flex-direction: column;
    justify-content: center;
    margin: 100px 20px 50px 20px;  
    
  }
  .header_text {
    font-size: 8vw;
  }
}

